body
{
	background-image: url("../img/fondo.jpg");
	color: #53535c;
	line-height: 1.7;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
}
@media (min-width: 1100px){
	#navbarNavDropdown{
		height: 90px;
	}
}
#centrar_logo
{
	background-color: black;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 110px;
}

#centrar_logo img
{
	width: 400px;
}

td
{
	width: 60px;
	height: 60px;
	border: 4px solid #B7AFA8;
}

#contenedor_tabla
{
	display: flex;
	justify-content: center;
}

#contenedor_padre_tabla
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.imagen_seleccionada
{
	border: 4px solid #901FBF;

}

.imagen_dibujo
{
	width: 100%;
	transition: opacity 0.5s;
}

.imagen_dibujo:hover
{
	border: 4px solid #3790BF;
	cursor: pointer;
}

.imgCuadrilla{
	max-width: 100%;
}